<div class="container">
  
  <% content_for :head do %>
  <title><%= @item.title %> -monolist</title>  <!-- 別途変更 -->
  <meta name="description" content="<%= @item.title %>のモノページ。<%= @item.title %>の欲しいモノ、持ってるモノを表示しています。" >
  <% end %>
  
  <div class="container-inner inner-sm clearfix">
    <div class="item-single-main">
      <div class="image">
        <div class="img-wrap">
          <% if @item.large_image? %>
            <%= image_tag(@item.large_image, alt: @item.title) %>
          <% else %>
            <%= image_tag("no-image.png" , alt: @item.title) %>
          <% end %>
        </div>
      </div>
      <div class="title">
        <%= @item.title %>
      </div>
      <%= render 'action' , item: @item %>
    </div>
    <div class="item-single-side">
      <div class="side-box">
        <h4 class="side-box-title">Haveしたユーザー</h4>
        <div class="side-box-body">
          <% # TODO Haveしたユーザー一覧 %>
          
          <%#= @item.have_users.count %>
          <% users = @item.have_users %>
          <% users.each do |user| %>
          <%#= user.inspect %>
            <%= link_to gravatar_for(user), {:controller => "users", :action => "show", :id => user.id}, {:class => "gravatar"} %>
          <% end %>
        </div>
      </div>
    
      <div class="side-box">
        <h4 class="side-box-title">Wantしたユーザー</h4>
        <div class="side-box-body">
          <% # TODO Wantしたユーザー一覧 %>
          
          <%#= @item.want_users.count %>
          <% users = @item.want_users %>
          <% users.each do |user| %>
          <%#= user.inspect %>
            <%= link_to gravatar_for(user), {:controller => "users", :action => "show", :id => user.id}, {:class => "gravatar"} %>
          <% end %>
        </div>
      </div>
      
        </div>
      </div>
      <div class="text-center">
        <% #TODO 正しいリンク先に %>
        <%= link_to('楽天詳細ページへ', @item.detail_page_url) %>
      </div>
    </div>
  </div>
</div>
